
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/lib/normalize.css')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/package.css')
    link(href='stylesheets/lib/bootstrap-datetimepicker.min.css',rel='stylesheets')
  body
    block content
    script(src='./javascripts/lib/jquery-2.2.4.min.js')
    script(src='./javascripts/lib/bootstrap.min.js')
    script(src='./javascripts/front_end.js')
    script(src='./javascripts/lib/bootstrap-datetimepicker.min.js')